
                        .innovative_container q:before, .innovative_container q:after{content:""}
                        .innovative_container a {cursor:pointer; text-decoration:none;}
                        /*.innovative_container p{width:inherit;}*/
                        
                        .innovative_container .clearfix:before,
                        .innovative_container .clearfix:after {
                                content: ".";
                                display: block;
                                height: 0;
                                overflow: hidden
                        }
                        .innovative_container .clearfix:after {clear: both}
                        .innovative_container .clearfix {zoom: 1}
                        
                        .innovative_container{
                                clear: both;
                                position:relative;
                                margin:10px auto;
                                width:980px;
                                height:67px;
                                background-color:#4d4b4b;
                                
                        -moz-border-top-left-radius:5px;
                        -ms-border-top-left-radius:5px;
                        -o-border-top-left-radius:5px;
                        -ms-border-top-left-radius:5px;
                        border-top-left-radius:5px;
                        -moz-border-top-right-radius:5px;
                        -ms-border-top-right-radius:5px;
                        -o-border-top-right-radius:5px;
                        -ms-border-top-right-radius:5px;
                        border-top-right-radius:5px;
                                
                        -moz-border-bottom-left-radius:0px;
                        -ms-border-bottom-left-radius:0px;
                        -o-border-bottom-left-radius:0px;
                        -ms-border-bottom-left-radius:0px;
                        border-bottom-left-radius:0px;
                        -moz-border-bottom-right-radius:0px;
                        -ms-border-bottom-right-radius:0px;
                        -o-border-bottom-right-radius:0px;
                        -ms-border-bottom-right-radius:0px;
                        border-bottom-right-radius:0px;
                                font-style:normal;
                                font-family:Arial, Verdana, Helvetica, sans-serif;
                                font-weight:normal;
                        }
                        
                        *:first-child+html .innovative_container{
                                z-index:1000;
                        }
                        
                        .innovative_container ul{
                                list-style:none;
                                padding:0;
                        }
                        
                        .innovative_container ul li{
                                float:left;
                        }
                        
                        .innovative_container ul li:first-child{
                                border-left:none;
                        }
                        
                        .innovative_tab_container{
                                display:none;
                                position:absolute;
                                left:0;
                                top:67px;
                                height:auto;
                                width:970px;
                                border : solid 5px #f5f5f5;
                                z-index:3000;
                                font-style:normal;
                                font-family:Arial, Verdana, Helvetica, sans-serif;
                                font-weight:normal;
                                color:f5f5f5;
                        }
                        
                        #innovative_tab_0 {
                                background-color: #4d4b4b 0 0 no-repeat ;
                                border-color:#f5f5f5;
                                
                        -moz-border-top-left-radius:5px;
                        -ms-border-top-left-radius:5px;
                        -o-border-top-left-radius:5px;
                        -ms-border-top-left-radius:5px;
                        border-top-left-radius:5px;
                        -moz-border-top-right-radius:5px;
                        -ms-border-top-right-radius:5px;
                        -o-border-top-right-radius:5px;
                        -ms-border-top-right-radius:5px;
                        border-top-right-radius:5px;
                                
                        -moz-border-bottom-left-radius:0px;
                        -ms-border-bottom-left-radius:0px;
                        -o-border-bottom-left-radius:0px;
                        -ms-border-bottom-left-radius:0px;
                        border-bottom-left-radius:0px;
                        -moz-border-bottom-right-radius:0px;
                        -ms-border-bottom-right-radius:0px;
                        -o-border-bottom-right-radius:0px;
                        -ms-border-bottom-right-radius:0px;
                        border-bottom-right-radius:0px;
                        }
                        
                        #innovative_tab_0 > a{
                                color:#f5f5f5;
                                font-family:Arial, Verdana, Helvetica, sans-serif;
                                font-size:12px;
                                text-decoration:none;
                                padding: 26.5px 24px;
                                display:block;
                                
                        -moz-border-top-left-radius:5px;
                        -ms-border-top-left-radius:5px;
                        -o-border-top-left-radius:5px;
                        -ms-border-top-left-radius:5px;
                        border-top-left-radius:5px;
                        -moz-border-top-right-radius:5px;
                        -ms-border-top-right-radius:5px;
                        -o-border-top-right-radius:5px;
                        -ms-border-top-right-radius:5px;
                        border-top-right-radius:5px;
                                
                        -moz-border-bottom-left-radius:0px;
                        -ms-border-bottom-left-radius:0px;
                        -o-border-bottom-left-radius:0px;
                        -ms-border-bottom-left-radius:0px;
                        border-bottom-left-radius:0px;
                        -moz-border-bottom-right-radius:0px;
                        -ms-border-bottom-right-radius:0px;
                        -o-border-bottom-right-radius:0px;
                        -ms-border-bottom-right-radius:0px;
                        border-bottom-right-radius:0px;
                        }
                        
                        #innovative_tab_0:hover > a{
                                background-color:#f5f5f5;
                                color:#4d4b4b;
                                
                        -moz-border-top-left-radius:5px;
                        -ms-border-top-left-radius:5px;
                        -o-border-top-left-radius:5px;
                        -ms-border-top-left-radius:5px;
                        border-top-left-radius:5px;
                        -moz-border-top-right-radius:5px;
                        -ms-border-top-right-radius:5px;
                        -o-border-top-right-radius:5px;
                        -ms-border-top-right-radius:5px;
                        border-top-right-radius:5px;
                                
                        -moz-border-bottom-left-radius:0px;
                        -ms-border-bottom-left-radius:0px;
                        -o-border-bottom-left-radius:0px;
                        -ms-border-bottom-left-radius:0px;
                        border-bottom-left-radius:0px;
                        -moz-border-bottom-right-radius:0px;
                        -ms-border-bottom-right-radius:0px;
                        -o-border-bottom-right-radius:0px;
                        -ms-border-bottom-right-radius:0px;
                        border-bottom-right-radius:0px;
                        }
                
                        #innovative_tab_1{
                                background-color: #4d4b4b 0 0 no-repeat ;
                                border-color:#f5f5f5;
                                
                        -moz-border-top-left-radius:4px;
                        -ms-border-top-left-radius:4px;
                        -o-border-top-left-radius:4px;
                        -ms-border-top-left-radius:4px;
                        border-top-left-radius:4px;
                        -moz-border-top-right-radius:4px;
                        -ms-border-top-right-radius:4px;
                        -o-border-top-right-radius:4px;
                        -ms-border-top-right-radius:4px;
                        border-top-right-radius:4px;
                                
                        -moz-border-bottom-left-radius:0px;
                        -ms-border-bottom-left-radius:0px;
                        -o-border-bottom-left-radius:0px;
                        -ms-border-bottom-left-radius:0px;
                        border-bottom-left-radius:0px;
                        -moz-border-bottom-right-radius:0px;
                        -ms-border-bottom-right-radius:0px;
                        -o-border-bottom-right-radius:0px;
                        -ms-border-bottom-right-radius:0px;
                        border-bottom-right-radius:0px;
                        }
                        
                        
                        #innovative_tab_container_1{
                                display:none;
                                background: #4d4b4b no-repeat 0 0;
                                
                        }
                        
                        
                        #innovative_tab_container_1 div:first-child{
                                border-left:none;
                        }
                        
                        
                        .innovative_tab:hover #innovative_tab_container_1{
                                display:block;
                        }
                        
                        #innovative_tab_1:hover{
                                background: #f5f5f5 0 0 no-repeat ;
                        }
                        
                        #innovative_tab_1 > a{
                                color:#f5f5f5;
                                font-family:Arial, Verdana, Helvetica, sans-serif;
                                font-size:12px;
                                text-decoration:none;
                                padding: 26.5px 24px;
                                display:block;
                                
                        -moz-border-top-left-radius:4px;
                        -ms-border-top-left-radius:4px;
                        -o-border-top-left-radius:4px;
                        -ms-border-top-left-radius:4px;
                        border-top-left-radius:4px;
                        -moz-border-top-right-radius:4px;
                        -ms-border-top-right-radius:4px;
                        -o-border-top-right-radius:4px;
                        -ms-border-top-right-radius:4px;
                        border-top-right-radius:4px;
                                
                        -moz-border-bottom-left-radius:0px;
                        -ms-border-bottom-left-radius:0px;
                        -o-border-bottom-left-radius:0px;
                        -ms-border-bottom-left-radius:0px;
                        border-bottom-left-radius:0px;
                        -moz-border-bottom-right-radius:0px;
                        -ms-border-bottom-right-radius:0px;
                        -o-border-bottom-right-radius:0px;
                        -ms-border-bottom-right-radius:0px;
                        border-bottom-right-radius:0px;
                        }
                        
                        #innovative_tab_1:hover > a{
                                color:#4d4b4b;
                                
                        -moz-border-top-left-radius:4px;
                        -ms-border-top-left-radius:4px;
                        -o-border-top-left-radius:4px;
                        -ms-border-top-left-radius:4px;
                        border-top-left-radius:4px;
                        -moz-border-top-right-radius:4px;
                        -ms-border-top-right-radius:4px;
                        -o-border-top-right-radius:4px;
                        -ms-border-top-right-radius:4px;
                        border-top-right-radius:4px;
                                
                        -moz-border-bottom-left-radius:0px;
                        -ms-border-bottom-left-radius:0px;
                        -o-border-bottom-left-radius:0px;
                        -ms-border-bottom-left-radius:0px;
                        border-bottom-left-radius:0px;
                        -moz-border-bottom-right-radius:0px;
                        -ms-border-bottom-right-radius:0px;
                        -o-border-bottom-right-radius:0px;
                        -ms-border-bottom-right-radius:0px;
                        border-bottom-right-radius:0px;
                        }
                        
                        #innovative_column_1{
                                float:left;
                                padding:5px 5px 5px 10px;
                                margin:5px;
                                font-size:12px;
                                font-style:normal;
                                font-family:Arial, Verdana, Helvetica, sans-serif;
                                font-weight:normal;
                                color:f5f5f5;
                                width:90px;
                                display:block;
                        }
                        
                        #innovative_column_1 p{margin:0; padding:0;}
                        

                        #block_advertising_1{
                                color:#4d4b4b;
                                background-color:#f5f5f5;
                                margin:5px;
                                border-right :1px solid #f5f5f5;
                        }
                