<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>expeditor</name>
            <displayName><![CDATA[Expeditor Inet&amp;nbsp;&amp;#169;]]></displayName>
            <version><![CDATA[2.3.3]]></version>
            <description><![CDATA[G&eacute;rer vos commandes entre Prestashop et votre logiciel Expeditor Inet]]></description>
            <author><![CDATA[PrestaShop]]></author>
            <tab><![CDATA[Import/export]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>