<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>addcartpopup</name>
            <displayName><![CDATA[Popup Cart]]></displayName>
            <version><![CDATA[1.0]]></version>
            <description><![CDATA[Permit add a popup when add a product to cart]]></description>
            <author><![CDATA[Vupar]]></author>
            <tab><![CDATA[others]]></tab>
	<confirmUninstall>Are you sure you want to uninstall Popup Cart Module?</confirmUninstall>
            <is_configurable>0</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>