<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>gtrustedstores</name>
    <displayName><![CDATA[Google Trusted Stores]]></displayName>
    <version><![CDATA[1.1.8]]></version>
    <description><![CDATA[Benefit from Google\'s Trusted Stores program and increase your sales]]></description>
    <author><![CDATA[Business Tech]]></author>
    <tab><![CDATA[smart_shopping]]></tab>
    <confirmUninstall>Are you sure you want to remove Google Trusted Stores ?</confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
    <limited_countries></limited_countries>
</module>